*
{
	float: none;
	width: 100%;
	text-align: center;
}

body
{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	margin: 2.8em auto auto auto;
}

h1
{
	font-family: Arial, sans-serif;
	font-size: 1.6em;
	margin-bottom: 1.2em;
}

em
{
	font-style: normal;
}

.entry
{
	overflow: auto;
	height: 1.2em;
}

.pagination
{
	margin-top: 1.2em;
}

.entry a
{
	float: left;
}

.entry span
{
	float: right;
}

.post-link:link,hover,active
{
	text-decoration: none;
	color: green;
}

.post-link:visited
{
	text-docoration: none;
	color: black;
}

.navi-link
{
	text-decoration: none;
	color: green;
}

.pagination .navi-link,.pagination span,.pagination em
{
	margin: auto 0.2em;
}
