html,body
{
	height: 100%;
}

body
{
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	text-align: center;
	width: 28em;
	margin: 2.8em auto auto auto;
}

.page-content
{
	width: inherit;
}

h1
{
	font-family: Arial, sans-serif;
	font-size: 1.6em;
	margin-bottom: 1.2em;
}

.entry
{
	text-align: left;
	margin: 0.7em 2.4em;
	overflow: auto;
	height: 1.2em;
}

.entry a
{
	float: left;
}

.entry span
{
	float: right;
}

a:link,hover,active
{
	text-decoration: none;
	color: green;
}

a:visited
{
	text-docoration: none;
	color: black;
}