html,body
{
	min-height: 36em;
}

body
{
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	text-align: center;
	width: 48em;
	height: 100%;
	margin: 2.8em auto;
}

h1
{
	font-size: 2em;
	font-weight: bold;
}

p
{
	text-align: left;
	line-height: 1.5;
	font-size: 1.2em;
	color: rgb(72,72,72);
}

.meta
{
	text-align: center;
}

