html,body
{
	min-height: 36em;
}

body
{
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	text-align: center;
	width: 36em;
	height: 100%;
	margin: 2.8em auto;
}

h1
{
	font-family: Arial, sans-serif;
	font-size: 1.6em;
}

p
{
	text-align: left;
	line-height: 1.5;
}

.meta
{
	text-align: center;
}

