---
layout: main
---

<div class="home">

  <h1>记己的事情</h1>
  
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="entry">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </div>
    {% endfor %}
  </div>
  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="navi-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">前一页</a>
    {% else %}
      <span>前一页</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a class="navi-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="navi-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="navi-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">后一页</a>
    {% else %}
      <span>后一页</span>
    {% endif %}
  </div>
  {% endif %}
  
</div>
